# App-related config
SCORE_TRACKER_SECRET_KEY_BASE=hQxqLAdGePykqr4yIGvW0xIWkVX8EPC2Clt3CrSrH0mDgyy7yRrymz1dEA3Vw8P+
SCORE_TRACKER_LIVE_VIEW_SIGNING_SALT=Eym7G0NcGR4X+Fg1k13J8FnW2ya9eJ0Q
SCORE_TRACKER_SESSION_ENCRYPTION_SALT=Cn3tctEZr8jv4OiPGCWiCWedfjmWbL6S
SCORE_TRACKER_SESSION_SIGNING_SALT=dl+FpTlZFshOqAJGRFr7YSG3GkX2fPM9

# Cache config
SCORE_TRACKER_CACHE_POOL_SIZE=5
SCORE_TRACKER_CACHE_URL=valkey://localhost:6379
